{% extends "base.html" %}
{% load filters %}
{% load i18n staticfiles wger_extras django_bootstrap_breadcrumbs %}

{% block title %}{% trans "Summary of today's activities from Fitbit" %}{% endblock %}

{% block content %}

<div class="list-group">
    <table class="table">
        <tr>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Description' %}</th>
            <th>{% trans 'Calories' %}</th>
            <th>{% trans 'Start time' %}</th>
            <th>{% trans 'Steps' %}</th>
        </tr>
        {% for activity in activities|get:"activities" %}
            <tr>
                <td>{{ activity|get:"name" }}</td>
                <td>{{ activity|get:"description" }}</td>
                <td>{{ activity|get:"calories" }}</td>
                <td>{{ activity|get:"startTime" }}</td>
                <td>{{ activity|get:"steps" }}</td>
            </tr>
        {% empty %}
            <li class="list-group-item">
                {% trans "Nothing found" %}
            </li>
        {% endfor %}
    </table>
</div>
{% endblock %}

