{% extends "base.html" %}
{% load i18n staticfiles wger_extras django_bootstrap_breadcrumbs %}

{% block title %} Compare members {% endblock %}


{% block breadcrumbs %}
    {% if current_user.userprofile.gym %}
        {{ block.super }}

        {% if perms.gym.manage_gyms %}
            {% breadcrumb "Gyms" "gym:gym:list" %}
        {% endif %}
        {% breadcrumb_raw current_user.userprofile.gym "gym:gym:user-list" current_user.userprofile.gym.pk %}
        {% breadcrumb_raw current_user|format_username "core:user:overview" current_user.pk %}
    {% endif %}
{% endblock %}


{% block content %}
    {% url 'core:user:trainer-login' current_user.pk as trainer_login %}
    {% if perms.gym.gym_trainer %}
        {% for user, weight_list in weight_entries.items %}
            <h4>
                {{ user }} {% trans "Weight" %}
                <small>
                    ({% blocktrans with number=5 %}last {{ number }}{% endblocktrans %})
                </small>
            </h4>

            <table class="table">
            <thead>
            <tr>
                <th style="width: 25%;">{% trans "Date" %}</th>
                <th>{% trans "Weight" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for weight in weight_list %}
            <tr>
                <td>
                    {{weight.date}}
                </td>
                <td>
                    {{weight.weight}} {% trans_weight_unit 'kg' current_user %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">{% trans "Nothing found" %}</td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
        {% endfor %}

    {% endif %}
{% endblock %}
