{% extends "base.html" %}
{% load i18n staticfiles wger_extras django_bootstrap_breadcrumbs %}

{% block title %} Compare members {% endblock %}

{#        #}
{# Header #}
{#        #}
{% block header %}
    <script src="{% static 'js/compare_weight.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
    {% if current_user.userprofile.gym %}
        {{ block.super }}

        {% if perms.gym.manage_gyms %}
            {% breadcrumb "Gyms" "gym:gym:list" %}
        {% endif %}
        {% breadcrumb_raw current_user.userprofile.gym "gym:gym:user-list" current_user.userprofile.gym.pk %}
        {% breadcrumb_raw current_user|format_username "core:user:overview" current_user.pk %}
    {% endif %}
{% endblock %}


{% block content %}
    {% url 'core:user:trainer-login' current_user.pk as trainer_login %}
    {% if perms.gym.gym_trainer %}
        <h4>{% trans "Weight" %}</h4>
        <div id="current-username" data-current-username="{{ user.username }}"></div>
        <div id="weight_diagram"></div>
        <div class="legend"></div>
        <hr/>
        <h4> {% trans "Weight Details" %} </h4>

        <ul class="nav nav-tabs">
            {% for user in weight_entries.keys %}
              <li><a data-toggle="tab" href="#{{ user.username }}">{{ user.username }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for user, weight_list in weight_entries.items %}
              <div id="{{ user }}" class="tab-pane fade">
                <p>
                  <h4>
                    {{ user }} {% trans "Weight" %}
                    <small>
                        ({% blocktrans with number=5 %}last {{ number }}{% endblocktrans %})
                    </small>
                </h4>

                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 25%;">{% trans "Date" %}</th>
                            <th>{% trans "Weight" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for weight in weight_list %}
                        <tr>
                            <td>
                                {{weight.date}}
                            </td>
                            <td>
                                {{weight.weight}} {% trans_weight_unit 'kg' current_user %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3">{% trans "Nothing found" %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </p>
              </div>
            {% endfor %}
        </div>

    {% endif %}
{% endblock %}
