{% extends extend_template %}
{% load i18n staticfiles wger_extras %}

{% block header %}

{{ form.media }}

{% if custom_js %}
<script type="text/javascript">
{{custom_js|safe}}
</script>
{% endif %}
{% endblock %}


{% block title %}{{title}}{% endblock %}


{% block content %}
<form action="{{form_action}}"
      method="post"
      class="form-horizontal"
      role="form"
      {% if enctype %}enctype="{{enctype}}"{% endif %}>
    {% render_form_fields form submit_text %}
</form>

<!-- social login block -->
<div class="row-fluid" style="float:right">
    <div id="my-signin2"></div>
    <script>
function onSuccess(googleUser) {
    let $uri= "/en/user/oauth_register";
    payload = {
        id: googleUser.getBasicProfile().getId(),
        name: googleUser.getBasicProfile().getName(),
        email: googleUser.getBasicProfile().getEmail()
    }

    $.post($uri, payload).done(function($data){
        if ($data){
            alert($data)
        }
    }).error(function(err){
        console.log(err)
    })
}
function onFailure(error) {
    console.log(error);
}
function renderButton() {
    gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
    });
}
    </script>
</div>
{% endblock %}


<!--
    Side bar
-->
{% block sidebar %}{% if sidebar %}{% include sidebar %}{% endif %}{% endblock %}
