{% extends extend_template %}
{% load i18n staticfiles wger_extras %}

{% block header %}

{{ form.media }}

{% if custom_js %}
<script type="text/javascript">
{{custom_js|safe}}
</script>
{% endif %}
{% endblock %}


{% block title %}{{title}}{% endblock %}


{% block content %}
<!-- FB sdk -->
<script>
window.fbAsyncInit = function() {
    FB.init({
        appId      : '148536332393805',
        cookie     : true,
        xfbml      : true,
        version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
};

(function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<form action="{{form_action}}"
      method="post"
      class="form-horizontal"
      role="form"
      {% if enctype %}enctype="{{enctype}}"{% endif %}>
    {% render_form_fields form submit_text %}
</form>

{% endblock %}


<!--
    Side bar
-->
{% block sidebar %}
<p style="text-align:right"><strong>-------------- or ---------------</strong></p>
{% include 'user/social.html'%}
{% if sidebar %}{% include sidebar %}{% endif %}{% endblock %}
